body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
}

ul {
  list-style: none;
}

#menu {
  float: right;
}

#menu li {
  display: inline-block;
  padding: 8px;
}

.links {
  color: #494949;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

li.links a:hover {
  text-decoration: underline;
  color: rgb(58, 57, 57);
}

.goo #logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 112px;
  padding-bottom: 20px;
}

.form {
  text-align: center;
}


#form-search { 
  width: 450px;
  line-height: 32px;
  padding: 20px 10px;
  margin: 0px;
  border-radius: 15px;
}

.form1 #adv-h1 {
  text-align: left; 
  color: red; 
  font-size: 18px; 
  margin-left: 40px; 
  margin-top: 20px; 
  border-bottom: 1px solid #D3D3D3 ; 
  padding-bottom: 25px;
}

#form-search1 { 
  width: 450px;
  line-height: 32px;
  /* padding: 20px 10px; */
}

.form1 #form-search1 {
  /* padding: 0 8px; */
  padding-top: 0;
}

.form #form-search {
  border-color: #e4e4e4;
  padding: 0 8px; 
  padding-top: 0;
  border-radius: 15px;
}

#form-search:hover {
  border-color: #d1d0d0;
  padding-top: 0;
  border-radius: 15px;
}

#form-search:focus {
  border-color: #d1d0d0;
  padding-top: 0;
  border-radius: 15px; 
}

.column {
    float: left;
    width: 33%;
}

.psize {
      font-size: 13px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.buttons1 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 300px;
}

.buttons #sub1 {
  font-size: 14px;
  border: 0px;
  border-radius: 3px;
  padding: 11px 21px;
  margin: 4px 2px;
  background-color: rgb(236, 235, 235);
  color: grey;
}

.buttons #sub1:hover {
  font-size: 14px;
  border: 1px solid rgb(192, 190, 190);
  border-radius: 3px;
  padding: 11px 21px;
  margin: 4px 2px;
  background-color: rgb(243, 242, 242);
  color: black;
  cursor: pointer;
}
.buttons {
    text-align: center;
    padding-top: 20px;
  }

  .buttons #sub {
    font-size: 12px;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 4px 2px;
    margin-left: -68px;
    background-color: #3e99b8;
    color: white;
  }
 
  .buttons #sub:hover {
    font-size: 12px;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 4px 2px;
    margin-left: -68px;
    background-color: #2293b9;
    color: white;
  }










